@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #fac51c !important;
}
.bg-success {
  background-color: #00a885 !important;
}
.bg-info {
  background-color: #f3c649 !important;
}
.bg-warning {
  background-color: #28324e !important;
}
.bg-danger {
  background-color: #553982 !important;
}
.btn-primary {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-secondary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-info {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-success {
  background-color: #00a885;
  border-color: #00a885;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #005c48;
  border-color: #005c48;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #005c48 !important;
  border-color: #005c48 !important;
}
.btn-warning {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-danger {
  background-color: #553982;
  border-color: #553982;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #32224d;
  border-color: #32224d;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #32224d !important;
  border-color: #32224d !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-info-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-success-outline {
  background: none;
  border-color: #004234;
  color: #004234;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #00a885;
  border-color: #00a885;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00a885 !important;
  border-color: #00a885 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-danger-outline {
  background: none;
  border-color: #271a3b;
  color: #271a3b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #553982;
  border-color: #553982;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #553982 !important;
  border-color: #553982 !important;
}
.text-primary {
  color: #fac51c !important;
}
.text-success {
  color: #00a885 !important;
}
.text-info {
  color: #f3c649 !important;
}
.text-warning {
  color: #28324e !important;
}
.text-danger {
  color: #553982 !important;
}
.alert-success {
  background-color: #00a885;
}
.alert-info {
  background-color: #f3c649;
}
.alert-warning {
  background-color: #28324e;
}
.alert-danger {
  background-color: #553982;
}
.btn-social {
  border-color: #fac51c;
}
.btn-social:hover {
  background: #fac51c;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #fac51c;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #fac51c;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fac51c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fac51c;
}
.lead a,
.lead a:hover {
  color: #fac51c;
}
.lead blockquote {
  border-color: #fac51c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef8e4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #28ffd2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #9477c3;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #fac51c;
}
#ext_menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-4 .navbar-toggler {
  color: #000000;
}
#ext_menu-4 .close-icon::before,
#ext_menu-4 .close-icon::after {
  background-color: #000000;
}
#ext_menu-4 .link,
#ext_menu-4 .dropdown-item {
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#ext_menu-4 .link {
  font-size: 1.2rem;
}
#ext_menu-4 .dropdown-item,
#ext_menu-4 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-4 .link:hover,
#ext_menu-4 .dropdown-item:hover,
#ext_menu-4 .link:focus,
#ext_menu-4 .dropdown-item:focus {
  color: #fac51c;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-menu {
  background: #c7baba;
}
#ext_menu-4 .nav-dropdown-sm .link:focus,
#ext_menu-4 .nav-dropdown-sm .link:hover,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #d7cece!important;
}
#ext_menu-4 .navbar,
#ext_menu-4 .nav-dropdown-sm,
#ext_menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #ded6d6;
}
#ext_menu-4 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4 .bg-color.transparent.opened .link:hover,
#ext_menu-4 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#ext_menu-4 .btn {
  font-size: 20px;
}
#header2-7 .mbr-section-title {
  text-align: center;
  color: #000000;
}
#header2-7 .mbr-section-text {
  font-size: 20px;
  color: #292cb0;
}
#header2-7 .mbr-section-text I {
  font-size: 21px;
  color: #0d00ff;
}
#header2-7 .mbr-section-title I {
  color: #2969b0;
}
#header2-7 .mbr-section-text B {
  color: #292cb0;
  font-size: 21px;
}
#header2-7 .mbr-section-text SPAN {
  font-size: 19px;
  color: #292cb0;
}

#contacts2-h P {
  color: #ffffff;
  font-size: 15px;
}
#contacts2-h SPAN {
  color: #afff00;
  font-family: 'Open Sans', sans-serif;
}
#header4-r .mbr-section-title {
  color: #000000;
}
#form1-m .form-control-label {
  color: #232323;
}
#form1-m .mbr-section-title {
  color: #000000;
}
#header1-b .mbr-section-title {
  color: #000000;
  font-size: 48px;
}
#header1-b .mbr-section-lead {
  color: #2b0680;
  font-size: 17px;
}
#header1-b .mbr-section-lead B {
  font-size: 21px;
}
#header1-b .mbr-section-lead I {
  font-size: 17px;
}
